:root {
    --color-link: #000000;
}
    
/* base */
body {
    background: linear-gradient(to right, blue, green);
    font-family: "Raleway", "sans-serif";
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-self: center;
}

.button {
  text-decoration: none;
  border-radius: 15%;
}

.button:hover {
  background-color: var(--color-link);
  color: #ffffff;
}

/* title */
.hero_title {
    text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-self: center;
}
/* information */
.main_information {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-self: center;
}

.ul_aclass {
  font-size: 100%;
}

/* images */
.images {
  width: 100%;
  object-fit: cover;
    border-radius: 30px;
}


/* name */

.name {
  font-size: 100%;
  object-fit: contain;
}

/* links */
.nav_links {
    text-decoration: none;
    width: 600px;
    color: var(--color-link);
    margin-top: 100px;

}

.nav_links:hover {
  background-color: black;
  color: white;
  border-radius: 30px;
}

  /* class section */

.aclass{
  width: 10%;
  float: left;
  display: flex;

}

.sect_aclass{
  margin-top: 100px;
  text-align: left;
}

.aclass_title{
  text-align: left;
}

.aclass_link{
  text-decoration: none;
  color: var(--color-link);
  font-size: 20px;
}

.sp_aclass1{
  text-align: left;
  margin-left: 15px;
}

.game_link1 {
  color: var(--color-link);
  text-decoration: none;
  text-align: right;
  margin-left: 50px;
}
  /* navigation section */

.div_nav {
  width: 20%;
  float: right;
  display: flex;
  flex-direction: row;
}


  .block3 {
    position: relative;
    height: 400px;
    width: 200px;
    margin: 1%;
    border-radius: 30px;
    border: 2px solid #666;
    margin-left: 100px;
    background-color: white;
    text-decoration: none;
    color: var(--color-link);
    transition:0.3s ease;
  }

  .back-side {
    height: 17%;
    width: 20%;
    transition:0.3s ease;
    background-color: white;
    text-decoration: none;
    color: var(--color-link);
    border-radius: 30px;
    border: 2px solid #666;
    margin: 1%;
    }

  .block3 .back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; /* Задайте колір для зворотної сторони секції */
    backface-visibility: hidden; /* Ховаємо зворотню сторону в браузері */
    transform: rotateY(180deg); /* Поворот на 180 градусів */
  }

  .block3:hover .back-side {
    transform: scale(1.1);
  }

  .block3.clicked .back-side {
    transform: rotateY(0); /* Повертаємо на передню сторону при клікові */
}

  .link {
    margin-top: 15px;
    font-size: 20px;
  }

  .game_link {
    color: var(--color-link);
    text-decoration: none;
    margin-bottom: 100px;
  }

  .game_link:hover {
    background-color: var(--color-link);
    border-radius: 30px;
    color: aliceblue;
  }

  .game_link:active {
    background-color: #272727;
    color: gray ;
  }

  .navigation {
    margin-top: 100px;
  }

  .nav_title {
    text-align: center;
    margin-left: 40px;
  }

  .nav_ul{
    list-style-type: none;
  }